streamlit
pandas
python-dotenv
requests
firebase-admin
docx2txt

chromadb<1.0
langchain-chroma<1.0
langchain-google-genai
langchain-huggingface
langchain-classic
langchain-core
langchain-community
langchain-text-splitters

sentence-transformers<4
transformers<5
torch<3

protobuf<5
